	<div data-page="check-in">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1>It's on the clock!</h1>
						<p class="lead">Just select your name, the project and "check in" or "check out" to put these data in a magnificient CSV!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal">
							<fieldset>
								<legend>Actions</legend>
								<div class="form-group">
									<label for="name" class="control-label col-sm-2">Name</label>
									<div class="col-sm-10">
										<select name="name" id="name" class="form-control form-disable-in">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="project" class="control-label col-sm-2">Project</label>
									<div class="col-sm-10">
										<select name="project" id="project" class="form-control form-disable-in">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="type-of-job" class="control-label col-sm-2">Type</label>
									<div class="col-sm-10">
										<select name="type-of-job" id="type-of-job" class="form-control form-disable-in">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="desc" class="control-label col-sm-2">Description</label>
									<div class="col-sm-10">
										<input type="text"  name="desc" id="desc" class="form-control form-disable-in" />

									</div>
								</div>
								<div class="btn-group btn-group-justified ">

									<a class="btn btn-success btn-lg check-in " id="check-in">Check In</a>
									<a class="btn btn-danger btn-lg check-out " id="check-out">Check Out</a>
								</div>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>Am I working ?</h2>
						<p class="lead working"></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="hour text-center"></h2>
						<p class="day text-center lead"></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="tgif lead"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2>Previous records</h2>
						<table class="table projects-table table-striped">
							<thead>
								<tr>
									<th>Date</th>
									<th>In</th>
									<th>Out</th>
									<th>Total</th>
									<th>Employee</th>
									<th>Project</th>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-row">

								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>