<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">It's on the clock!</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a data-href="checkin" href="/">Check-in</a></li>
            <li><a data-href="records" href="">Records</a></li>
            <li><a data-href="employees" href="">Employees</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>